<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Hossam/IdeaProjects/ExamPRojectSummerge">
        <classes>
            <class name="com.saucedemo.TestCases.TestSuite">
                <methods>
                    <include name="TC_01"/>
                    <include name="TC_02"/>
                    <include name="TC_03"/>
                    <include name="TC_04"/>
                    <include name="TC_05"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>